<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body>
	<div id="container">
	
		<div id="container-message">
			<div id="messageone"></div>
			<div id="messagetwo"></div>
		</div>
	
		<div id="box-send">
		<input id="send-message" type="text" name="text">
		<button id="send">Send</button>
		</div>
	</div>
	
	<script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>